<div class="search-form">
  <%= form_tag search_products_path, method: :get do %>
    <div class="search-row">
      <div class="form-group">
        <%= text_field_tag :query, params[:query], 
            placeholder: 'Search by name or description',
            class: 'search-input' %>
      </div>

      <div class="form-group price-range">
        <%= number_field_tag :min_price, params[:min_price], 
            placeholder: 'Min Price',
            step: '0.01',
            min: '0',
            class: 'price-input' %>
        <span>-</span>
        <%= number_field_tag :max_price, params[:max_price], 
            placeholder: 'Max Price',
            step: '0.01',
            min: '0',
            class: 'price-input' %>
      </div>

      <% if @categories.present? %>
        <div class="form-group">
          <%= select_tag :category, 
              options_for_select(@categories, params[:category]),
              prompt: 'All Categories',
              class: 'category-select' %>
        </div>
      <% end %>

      <%= submit_tag 'Search', class: 'button search-button' %>
    </div>

    <div class="search-filters">
      <%= check_box_tag :in_stock, '1', params[:in_stock] %>
      <%= label_tag :in_stock, 'In Stock Only' %>
      
      <%= check_box_tag :on_sale, '1', params[:on_sale] %>
      <%= label_tag :on_sale, 'On Sale' %>
    </div>
  <% end %>
</div> 